@import "./components/HydraCanvas.css";
@import "./components/Editor.css";
@import "./components/Keyboard.css";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: monospace;
}

/* .preset-selected {
  background-color: black;
  color: white;
} */
